AnchorPane{
	-fx-background-color:#87CEFA;
	-fx-background-color: linear-gradient(to bottom, #BA55D3,#87CEFA);
}
#inputPane{
	-fx-background-radius: 8,7,6;
	-fx-background-color: white;
}
Label{
	-fx-font-family: "Segoe UI Semibold";
}
#title{
	-fx-font-family: "Segoe UI Semibold";
	-fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , white , 5, 0.0 , 0 , 1 );
}
#userName {
	-fx-font-family: "Segoe UI Semibold";
	-fx-font-weight: bold;
    -fx-text-fill: white;
}
#nameLabel{
	-fx-font-family: "Segoe UI Semibold";
	-fx-font-weight: bold;
    -fx-text-fill: white;
}
Button{
	-fx-background-color: white;
	-fx-background-radius: 8,7,6;
	-fx-background-insets: 0,1,2;
	-fx-text-fill: black;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#help{
	-fx-background-color: yellow;
	-fx-background-radius: 100;
	-fx-effect: dropshadow( three-pass-box , yellow , 5, 0.0 , 0 , 1 );
}

TextField{
	-fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
    -fx-font-family: "Segoe UI Semibold";
}

PasswordField{
	-fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
    -fx-font-family: "Segoe UI Semibold";
}