AnchorPane{
	-fx-background-color: white;
}
.EmptyParkingLotButton {
	-fx-background-color: green;
}
.FullParkingLotButton{
	-fx-background-color: red;
}
.SelectedParkingLotButton{
	-fx-background-color: yelow;
}